// Import all of Bootstrap's CSS
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap-icons/font/bootstrap-icons.css";

$new-font-sizes: (
        7: 0.75rem,
);
$new-grid-breakpoints: (
        3xl: 1750px,
        4xl: 2075px
);
$font-sizes: map-merge($font-sizes, $new-font-sizes);
$grid-breakpoints: map-merge($grid-breakpoints, $new-grid-breakpoints);

@import "bootstrap/scss/bootstrap";

$kg-orange : #f36c21;
$kg-blue: #253780;
$kg-darkblue: #19265E;

html {
  height: 100%;
}
body {
  height: 100%;
  background: #eee;
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, Segoe UI, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  #app {
    height: 100%;
  }
}
.bg-gray {
  background: #eee;
}
.bg-blue {
  background-color: $kg-blue!important;
}
.bg-darkblue {
 background-color: $kg-darkblue!important;
}

.bg-orange {
  background-color: $kg-orange!important;
}
.txt-uefa-1 {
  color: #1a313c
}
.bg-uefa-1 {
  background-color: #f1f3f8
}
.bg-uefa-2 {
  background-color: #ffffff
}
.bg-uefa-3 {
  background-color: #f5f5f5
}



.txt-blue {
  color: $kg-blue!important;
}
.txt-orange {
  color: $kg-orange!important;
}
.txt-gold {
  color: #ffd700!important;
}
.txt-silver {
  color: #c0c0c0!important;
}
.txt-bronze {
  color: #cd7f32!important;
}



.btn-orange {
  border: 1px solid $kg-orange;
  background-color: $kg-orange;
  color: #fff;
  &:hover {
    border: 1px solid $kg-orange;
    background-color: transparent;
    color: $kg-orange;
  }
}
.btn-trans {
  background-color: $kg-darkblue;
  color: #fff;
  &.active,
  &:hover {
    border: 1px solid #ffffff;
    background-color: $kg-blue;
  }
}

